<html>
  <head>
    <meta charset="{{ site.charset }}" />
    <title>{{ site.title }} | {{ site.description }}</title>
    <meta name="description" content="{{ site.description}}">
    <link rel="stylesheet" href="{{ theme.uri }}/css/style.css" charset="utf-8" type="text/css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Digital Underground - DMD Graduate Show 2015" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.digitalunderground.co"/>
    <meta property="og:image" content="{{ theme.uri }}/assets/og-image.jpg"/>
    <meta property="og:description" content="You're invited to attend BU's Digital Media Design Graduates 2015 graduate show - Digital Underground" />
    <link rel="pingback" href="{{site.pingback_url}}" />
    <link rel="shortcut icon" href="{{theme.uri}}/assets/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{theme.uri}}/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{theme.uri}}/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{theme.uri}}/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{theme.uri}}/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{theme.uri}}/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{theme.uri}}/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{theme.uri}}/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{theme.uri}}/assets/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{theme.uri}}/assets/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{theme.uri}}/assets/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{theme.uri}}/assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{theme.uri}}/assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{theme.uri}}/assets/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="{{theme.uri}}/assets/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="{{theme.uri}}/assets/mediumtile.png" />
    <meta name="msapplication-square310x310logo" content="{{theme.uri}}/assets/largetile.png" />
    {{ wp_head }}
  </head>
  <body>
  <div class="modal">
    <div class="modal-title">
      <h3 class="project-title h3"></h3>
      <a href="#" class="btn btn--yellow js-urlBtn" target="_blank">Visit Site</a>
    </div>
    <div class="modal-content"></div>
  </div>
  <div class="overlay"></div>
